body{
    background-image: url(./img/webb.png);
    color: #4d4d4d;
    text-align: center;
}
.round{
    /* margin:10vh auto; */
    border-radius: 50%;
    width:6vw;
    margin-left: 0vw;
}
.title{
    display: flex;
    justify-content:center ;
    align-items: center;
    font-family: monospace;
}
.headdata{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    margin-bottom: 2%;
    border-bottom: 4px double #111;
    margin-left: inherit;
    width:100%;
}
/*Services table*/
#servTable{
    margin:8vh auto;
    width:100%;
}
tbody > tr,th{
    border-bottom:1px solid black;
}
/*inputfields*/
.inputService{
    display: inline-flex;
    flex-direction: row;
}
.serName, .serTax, .serNet{
    margin-left: 10px;
}
/*Custromer headline data*/
.customerData{
    margin-top:100px;
    float: right;    
    font-size: .9rem;
    font-weight: 600;
}
/*Company headline data*/
.companyData{
    margin-top: 100px;
        float: left;
        font-size: .9rem;
        font-weight: 600;
}
/*buttons in page*/
.btnAction{
    margin-top:2vh;
}
.btnAction:last-child {
    margin-left: 1vh;
}
#getPdf{
    margin-left: 25px;
}
